.container {
    margin: 75px auto;
    width: 85%;

}

table {
    margin: 0 auto;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 50px;
}

h1{
    text-align: center;
}

form {
    margin: 0 auto;
}